html, body {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0d3255;
  color: #222;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  margin: 15px 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #777;
}

#wrap {
  min-height: 100%;
  background-color: #f0f0f0;
}

#main-content-wrap {
  overflow:auto;
  padding-bottom: 60px;
}

#main-content {
  background-color: #fff;
  padding-bottom: 20px;
}

#top-header {
  background-color: #0d3255;
  height: 70px;
  padding: 10px 0;
}

#top-header .top-header-brand {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 409px;
  height: 45px;
  display: block;
}

/***** nav bar tweaks *****/
#top-nav.navbar {
  margin-bottom: 0;
}

#top-nav.navbar-default {
  text-transform: uppercase;
}


#top-nav.navbar-default .navbar-nav > li > a:hover, #top-nav.navbar-default .navbar-nav > li > a:focus {
  background-color: #00274d;
}

/*
bg: #0d3255 OR 00274d
navbar: #335270
hover: 00274c bg, color=ffcb05
*/

.navbar-default {
  background-color: #335270;
  border-color: #00274d;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffcb05;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffcb05;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffcb05;
  background-color: #00274d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffcb05;
  background-color: #00274d;
}
.navbar-default .navbar-toggle {
  border-color: #00274d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00274d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  /*border-color: #ffffff;*/
  border: 0;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffcb05;
}

.header-container {
  background-color: black;
  background: url('../images/ann-arbor.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcb05;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcb05;
    background-color: #00274d;
  }
}

/** people page **/

.people-photo {
  margin-top: 0;
  margin-left: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.people-photo img {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.people-photo .media-body {
  padding: 20px 10px;
}

.people-photo h5 {
  font-size: 16px;
}

.people-section {
  margin-bottom: 25px;
}

/** footer **/
#footer-wrap {
  background-color: #00274d;
  color: white;
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  padding-top: -20px;
}

#footer {
  padding-top: 20px;
}
