---
permalink: /alumni
---
<div id="alumni">
  <h2>Most Recognized Alumni</h2>
  <ul>
    {% for p in site.data.people.recognized_alumni %}
      <li>
        {% if p.url %}
          <a href="{{ p.url }}">{{ p.name }}</a>
        {% else %}
          {{ p.name }}
        {% endif %}
        {% if p.degree %} ({{ p.degree }}){% endif %}
      </li>
    {% endfor %}
  </ul>

  <h2>Recent Alumni</h2>
  <ul>
    {% for p in site.data.people.recent_alumni %}
      <li>
        {% if p.url %}
          <a href="{{ p.url }}">{{ p.name }}</a>
        {% else %}
          {{ p.name }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
