---
permalink: /
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Welcome to University of Michigan Database Research Group</h1>
        <p>The database group at Michigan has a long and illustrious history. Some of our better known graduates include E.F. Codd, Mike Stonebraker, David J. DeWitt, and more.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p> -->
    </div>
</div>

<p>Our current work tackles data management issues in many different topics, including:</p>

<ul>
  <li><strong>Responsible data science</strong>, particularly to ensure that matters such as Fairness, Accountability, and Transparency (FAT) are fulfilled in the life cycle of data science.
  <li><strong>Usability of Big Data and database systems</strong>, particularly when data involved comes from multiple heterogeneous sources, and has undergone many manipulations.</li>
  <li><strong>Systems and algorithms for "messy" data management</strong>, including work on information extraction (from spreadsheets, or from Web pages of different kinds), data integration (whether integrating data from Web pages or more traditional sources), machine learning workloads (such as feature engineering), and top-k ranking.</li>
  <li><strong>Novel data applications</strong>, especially in bioinformatics and the social sciences (in economics and fighting human trafficking).</li>
  <li><strong>Scalable databases</strong>, particularly using advanced statistical models using concepts and tools from applied statistics, optimization theory, and machine learning.</li>
  <li><strong> Data systems infrastructure</strong>, including systems work that can undergird very general-purpose data management methods, such as Hadoop, optimization for MapReduce programs and hardware support for text analytics.</li>
</ul>

<h2>News</h2>

<ul>
  <li>We presented three long papers (<a href="https://yongjoopark.com/resources/blinkml_sigmod19_pdf.pdf">BlinkML</a>, <a href="https://arxiv.org/pdf/1802.10303.pdf">RRR</a> and <a href="https://arxiv.org/pdf/1712.09752.pdf">Designing Fair Ranking Schemes</a>) and two demo papers (<a href="http://c2metadata.org/sites/default/files/SIGMOD2019_DemoC2metadata%20%281%29.pdf">C2Metadata</a> and <a href="">MithraRanking</a>) at <a href="">SIGMOD 2019</a>.</li>
  <li>We presented three papers at <a href="http://conferences.cis.umac.mo/icde2019/">ICDE 2019</a> about <a href="https://conferences.computer.org/icde/2019/pdfs/ICDE2019-21DqmQqM7YlfcW2ZceNbB3/6I3FqXF0tVUWw1QHOiSCHd/6AeYWxXEDvV8ui5BiQYKsk.pdf">improving natural language interfaces to databases with SQL query logs</a>, <a href="https://conferences.computer.org/icde/2019/pdfs/ICDE2019-21DqmQqM7YlfcW2ZceNbB3/1UOGX5ArFR8ZE4gHDLxPaK/24E4GvPXiIZnLTe9Bnx10D.pdf">optimizing queries to video databases</a>, and <a href="https://conferences.computer.org/icde/2019/pdfs/ICDE2019-21DqmQqM7YlfcW2ZceNbB3/6fmvV8g94OPIK7MR9MCXZH/55A3amoKibxVNEdT4AL7Dz.pdf">ensuring that datasets "cover" various attribute groups, such as minorities</a>.</li>
  <li>We presented one paper at <a href="http://edbticdt2019.inesc-id.pt">EDBT 2019</a> about <a href="https://markjin1990.github.io/assets/doc/clx-edbt19.pdf">data pattern standardization</a>.</li>
  <li>We presented two long papers about <a href="http://www.vldb.org/pvldb/vol11/p947-antenucci.pdf">explaining and repairing filter-based data transformation</a> and <a href="http://www.vldb.org/pvldb/vol11/p648-tian.pdf">lock scheduling for transactional databases</a>, and a <a href="http://www.vldb.org/pvldb/vol11/p2165-stoyanovich.pdf">panel about algorithm ethics</a> in <a href="http://vldb2018.lncc.br">VLDB 2018</a> in Rio, Brazil.</li>
  <li>We delivered a keynote speech in <a href="http://www.aidm-conf.org">AiDM workshop</a>,  presented 2 long papers (<a href="https://sigmod2018.org/program_sigmod.shtml#ssession14">VerdictDB</a> & <a href="https://sigmod2018.org/program_sigmod.shtml#ssession15">RDMA Lock Management</a>), 2 demos (<a href="https://sigmod2018.org/program_sigmod.shtml#demogroup1">VerdictDB</a> & <a href="https://sigmod2018.org/program_sigmod.shtml#demogroup2">GeoFlux</a>) in <a href="https://sigmod2018.org">SIGMOD 2018</a> and a paper (<a href="http://hilda.io/2018/">a schema mapping system "Beaver"</a>) in HILDA workshop.</li>
  <li>Prof. Michael Cafarella was recognized with a <a href="http://eecs.umich.edu/eecs/about/articles/2018/cafarella-test-of-time-award.html">10-Year Test-of-Time Award</a> for his paper <a href="http://clair.si.umich.edu/si767/papers/Week06/TextRepresentation/Cafarella.pdf">Webtables: exploring the power of tables on the web</a> published in VLDB 2008. Congratulations!</li>
  <li>Yongjoo Park was recognized with an <a href="https://sigmod2018.org/sigmod_awards.shtml">Honorable Mention for the 2018 SIGMOD Jim Gray Doctoral Dissertation Award</a>. Congratulations!</li>
  <li>Jie Song won a <a href="http://edbticdt2018.at/?awards">Best Paper Runner-up Award</a> at EDBT 2018 for her <a href="http://openproceedings.org/2018/conf/edbt/paper-184.pdf">GeoAlign</a> paper. Congratulations!</li>
  <li>Professor HV Jagadish was elected as Fellow of the American Association for the Advancement of Science. Congratulations!</li>
  <li>We organized the <a href="http://dbgroup.eecs.umich.edu/acaia/">First Workshop on Approximate Computing for Affordable and Interactive Analytics (ACAIA)</a>, which was held on November 9th, 2017 at San Jose, California.</li>
  <li>We presented Raccoon at <a href="http://www.vldb.org/2017/">VLDB 2017</a>.</li>
  <li>We presented three research papers, one demo paper, and one keynote at <a href="http://sigmod2017.org/">SIGMOD 2017</a>.</li>
</ul>


<div id="sponsors">
  <h2>Sponsors</h2>
  <h4>Thanks to our kind sponsors</h4>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.gov %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.org %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.industry %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
</div>
