---
permalink: /
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Welcome to University of Michigan Database Research Group</h1>
        <p>The database group at Michigan has a long and illustrious history. Some of our better known graduates include E.F. Codd, Mike Stonebraker, David J. DeWitt, and more.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p> -->
    </div>
</div>

<p>Our current work tackles data management issues in many different topics, including:</p>

<ul>
  <li><strong>Usability of Big Data and database systems</strong>, particularly when data involved comes from multiple heterogeneous sources, and has undergone many manipulations.</li>
  <li><strong>Systems and algorithms for "messy" data management</strong>, including work on information extraction (from spreadsheets, or from Web pages of different kinds), data integration (whether integrating data from Web pages or more traditional sources), machine learning workloads (such as feature engineering), and top-k ranking.</li>
  <li><strong>Novel data applications</strong>, especially in bioinformatics and the social sciences (in economics and fighting human trafficking).</li>
  <li><strong>Scalable databases</strong>, particularly using advanced statistical models using concepts and tools from applied statistics, optimization theory, and machine learning.</li>
  <li><strong> Data systems infrastructure</strong>, including systems work that can undergird very general-purpose data management methods, such as Hadoop, optimization for MapReduce programs and hardware support for text analytics.</li>
</ul>

<h2>News</h2>

<ul>
  <li>Professor HV Jagadish is elected as Fellow of the American Association for the Advancement of Science. Congratulations!</li>
  <li>We are organizing the <a href="http://dbgroup.eecs.umich.edu/acaia/">First Workshop on Approximate Computing for Affordable and Interactive Analytics (ACAIA)</a>, which is held on November 9th, 2017 at San Jose, California.</li>
  <li>We presented Raccoon at <a href="http://www.vldb.org/2017/">VLDB 2017</a>.</li>
  <li>We presented three research papers, one demo paper, and one keynote at <a href="http://sigmod2017.org/">SIGMOD 2017</a>.</li>
</ul>


<div id="sponsors">
  <h2>Sponsors</h2>
  <h4>Thanks to our kind sponsors</h4>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.gov %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.org %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="row sponsor-photo">
    {% for p in site.data.sponsors.industry %}
      {% if p.photo %}
      <div class="col-sm-4">
        {% if p.url %}
          <a href="{{ p.url }}"><img class="media-object" src="{{ p.photo }}" /></a>
        {% else %}
        <a href="#"><img class="media-object" src="{{ p.photo }}" /></a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
</div>
